.div {
    margin: 10px;
    padding: 120px;
    border: solid 1px green;
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-direction: row-reverse;
}

.div .img {
    /* margin-right: 10px; */
    width: 300px;
    height: 200px;
}

.div .p1 {
    text-align: justify;
    margin-left: 10px;
}