* {
    padding: 0;
    margin: 0;
}

h2 {
    margin: 10px;
    padding: 10px;
}

p.ex {
    margin: 10px;
    padding: 10px;
}

.quadrado {
    background-color: #272424;
    color: whitesmoke;
    border: solid 2px red;
    border-bottom: solid 10px red;
    border-top-style: dashed;
    margin: 60px;
    padding: 30px;
}

.btn {
    border: solid #423e3e;
    background-color: #423b3b;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin: 20px;
    padding: 10px;
}
