body{
    background-color: #23606E;
    font-family: "Roboto", sans-serif;
    color: whitesmoke;
}

h1{
    background-color:#008F8C;
    color: #FACFCE;
}

h2 {
    background-color:#008F8C;
    color: aliceblue;
}