@charset "utf-8";

.carousel-item img {
    height: 70vh;
    width: 100vw;
}
.img-card {
    height: 40vh;
}

main {
    padding-top: 20px;
    padding-bottom: 30px;
}

h2 {
    font-size: xx-large;
    text-align: center;
    font-weight: bolder;
    padding-bottom: 20px;
}

h3 {
    padding-top: 10px;
    font-size: x-large;
    text-align: center;
    font-weight: bolder;
    color: #2cd0e6;
}

p {
    text-align: center;
    font-weight: 400;
}