.div {
    margin: 5px;
    width: 300px;
    height: 300px;
}

.sec{
    float: right;
}

.c1 {
    background-color: darkolivegreen;
    /* float: right; */
    float: inherit;
}

.c2 {
    background-color: green;
    /* float: right; */
    float: inherit;
}

.c3 {
    background-color: darkgreen;
    /* float: right; */
    float: inherit;
}