@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Mooli&family=Roboto:wght@300&display=swap");

body {
  background-color: #a2e0dd;
}

h1,
h2 {
  font-family: "Roboto", sans-serif;
  color: #04684a;
  font-weight: bold;
  text-align: center;
}

p {
  font-family: "Mooli", sans-serif;
  color: #0a3d1e;
  text-align: center;
}

@media (max-width: 400px) {
  img {
    display: none;
  }
}

@media (max-width: 800px) {
    body {
      background-color: #43bb43;
    }
}

@media (max-width: 600px) {
    body {
        background-color: #a2e0dd;
    }
    h1 {
        font-size: 2.5em;
    }
    p {
        font-size: 1.5rem;
    }
}