* {
    color: #70648C;
}

body {
    background-image: url('../img/back-gatos.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
}

figure {
    text-align: center;
}

img {
    position: absolute;
    bottom: 0;
    height: 300px;
}