@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100&family=Sora:wght@600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: #6756A6;
}

.rodape {
    padding: 25px 0;
    border-top: 0.4px solid #E9DFD6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #360A73;
}

.rodape .rodape-icons {
    display: flex;
    gap: 10px;
}

.rodape-escrita {
    text-align: center;
}


