body {
    background-color: #d6ccdd;
}

h1, h2 {
    color: rgb(72, 4, 136);
    font-family: 'Roboto', sans-serif;
}

p {
    color: #7934c7;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a {
    text-decoration: none;
    color: #a055f5;
}